@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

@theme {
  --font-bold: "bold";
  --font-regular: "regular";
  --color-dark: #292929;
  --color-light: #ede5de;
  --color-primary: #112754;
  --color-red: #cc0000;
  --color-border: "hsl(var(--border))",
    --color-input: "hsl(var(--input))",
    --color-ring: "hsl(var(--ring))",
    --color-background: "hsl(var(--background))",
    --color-foreground: "hsl(var(--foreground))",
}

@font-face {
  font-family: "bold";
  src: url("../../public/Fonts/AVENIRARABIC-BLACK.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "regular";
  src: url("../../public/Fonts/AVENIRARABIC-MEDIUM.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  
}
